<style>
{% include sidebar.css %}
</style>

      <div class="row">
		  <div class="col-sm-1">
		  <br>

		  <br>


			  <ul class="nav nav-pills nav-stacked navbar-inverse">

    				<li><a href='#' class= "white">xxx</a></li>
    				<li><a href='#' class= "white">Brausteuerung</a></li>
            <li><a href='#' class= "white">Polar M400 to CSV</a></li>
    				<li><a href='#' class= "white">Feuertonne</a></li>
            <li><a href='#' class= "white">Contact</a></li>
  			  </ul>


			</div>
